.submenu-eat-cards {
  @include container();
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  .eat-cards {
    display: flex;
    flex-wrap: wrap;

    @include for-size(tablet){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    @include for-size(mobile){
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .eat-card {
      margin-bottom: 50px;
      width: 300px;
      a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          width: 200px;
        }

        span {
          font-size: 18px;
          font-family: "Flame Sans";
          font-weight: bold;
          color: rgb(80, 35, 20);
        }

        div {
          margin-top: 5px;
          display: flex;
          gap: 15px;
          span {
            font-size: 16px;
            font-family: "Flame Sans";
            font-weight: bold;
            color: rgb(80, 35, 20);
          }

          p {
            font-size: 16px;
            font-family: "Flame Sans";
            color: rgb(80, 35, 20);
          }
        }
      }
    }

  }

}
