
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="admin-panel-header">
    <div>
        <h4>Burger King Admin Panel</h4>
    </div>
</div>
<div class="admin-panel">
    <div class="admin-panel-right">
        <h4>Welcome Back , Faska</h4>
        <div class="staticts">
            <span>Totals:</span>
            <span class="total">
                Total Sales: $33913
            </span>
            <span class="total">
                Total Users: 94
            </span>
            <span class="total">
                Total Couriers: 12
            </span>
            <span class="total">
                Total Admins : 3
            </span>
        </div>
    </div>
    <div class="admin-panel-left">
        <h4>
            Select your CRUD Element
        </h4>
        <div class="list-links">

            <div class="links">
                <a asp-area="Admin" asp-controller="Slider" asp-action="Index">Slider</a>
                <!-- <div class="crud">
                    <button class="create">
                        <a class="crud-link" href="">Create</a>
                    </button>
                    <button class="read">
                        <a class="crud-link" href="">Read</a>
                    </button>
                    <button class="update">
                        <a class="crud-link" href="">Update</a>
                    </button>
                    <button class="delete">
                        <a class="crud-link" href="">Delete</a>
                    </button>
                </div> -->
            </div>
            <div class="links">
                <a asp-area="Admin" asp-controller="Ad" asp-action="Index">Ad</a>
                <!-- <div class="crud">
                    <button class="create">
                        <a class="crud-link" href="">Create</a>
                    </button>
                    <button class="read">
                        <a class="crud-link" href="">Read</a>
                    </button>
                    <button class="update">
                        <a class="crud-link" href="">Update</a>
                    </button>
                    <button class="delete">
                        <a class="crud-link" href="">Delete</a>
                    </button>
                </div> -->
            </div>
            <div class="links">
                <a asp-area="Admin" asp-controller="Slider" asp-action="Index">Product</a>
                <!-- <div class="crud">
                    <button class="create">
                        <a class="crud-link" href="">Create</a>
                    </button>
                    <button class="read">
                        <a class="crud-link" href="">Read</a>
                    </button>
                    <button class="update">
                        <a class="crud-link" href="">Update</a>
                    </button>
                    <button class="delete">
                        <a class="crud-link" href="">Delete</a>
                    </button>
                </div> -->
            </div>
            <div class="links">
                <a asp-area="Admin" asp-controller="Slider" asp-action="Index">Restaurant</a>
                <!-- <div class="crud">
                    <button class="create">
                        <a class="crud-link" href="">Create</a>
                    </button>
                    <button class="read">
                        <a class="crud-link" href="">Read</a>
                    </button>
                    <button class="update">
                        <a class="crud-link" href="">Update</a>
                    </button>
                    <button class="delete">
                        <a class="crud-link" href="">Delete</a>
                    </button>
                </div> -->
            </div>
            <div class="links">
                <a asp-area="Admin" asp-controller="Slider" asp-action="Index">Products Of Restaurant</a>
                <!-- <div class="crud">
                    <button class="create">
                        <a class="crud-link" href="">Create</a>
                    </button>
                    <button class="read">
                        <a class="crud-link" href="">Read</a>
                    </button>
                    <button class="update">
                        <a class="crud-link" href="">Update</a>
                    </button>
                    <button class="delete">
                        <a class="crud-link" href="">Delete</a>
                    </button>
                </div> -->
            </div>
        </div>
    </div>

</div>