<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="Icon" type="Images/Icon" href="../../Assets/Icons/burger-king.png">
    <link href="https://db.onlinewebfonts.com/c/29eee6d957e73039264c9de9fd949d20?family=Flame+Sans"
          rel="stylesheet" />
    <link href="https://db.onlinewebfonts.com/c/565a681be0eb6f1d92c6bc57c629ea35?family=Flame+Bold"
          rel="stylesheet" />
    <link rel="stylesheet" href="./../../SCSS/main.css" />
</head>
<body>
        @RenderBody()
</body>
</html>
