@model OrderVM

<div class="delivery-job-hiring-header">
    <div>
        <div>
            <a asp-controller="home" asp-action="index">
                <button><img src="../../Assets/Icons/close.png" alt="" /></button>
            </a>
        </div>
        <div>
            <div>My Orders</div>
        </div>
        <div></div>
    </div>
</div>
<div class="delivery-orders-index">
    @foreach (Order order in Model.Orders)
    {
        <div class="orders-index">
            <div class="detail">
                <span>Your Order</span>
                <span>Restaurant: @Model.Restaurant.FirstOrDefault(x=>x.Id == order.CustomUser.SelectedRestaurantId).Title</span>
            </div>
            <a style="text-decoration:none" asp-controller="Order" asp-action="Detail" asp-route-id="@order.Id">
                <button asp-controller="O" asrderp-action="Detail" asp-route-id="@order.Id">Detail</button>
            </a>
        </div>
    }
</div>