@model LoginVM

<header class="sign-in">
    <div>
        <a href="../Home/home.html">
            <button>
                <img src="../../Assets/Icons/close.png" alt="" />
            </button>
        </a>
    </div>
</header>
<section class="section-signin">
    <div class="container">
        <h2>Sign In</h2>
        <form method="post" class="signin-form">
            <div asp-validation-summary="All" style="font-size:15px; color: red; font-family:'Flame Sans'; margin-bottom:5px"></div>
            <input asp-for="Username" class="username"/>

            <input asp-for="Password" class="password"  />

            <button class="signin-btn" type="submit">Sign In</button>
        </form>
        <p class="signin-link">
            Don't you have an account? <a asp-controller="Account" asp-action="Register">Sign Up</a>
        </p>
    </div>
</section>

